<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Application</display-name>
	<filter>
		<description>
		</description>
		<display-name>StudentRegisterFilter</display-name>
		<filter-name>StudentRegisterFilter</filter-name>
		<filter-class>StudentRegisterFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>LoginFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>EmployerRegisterFilter</display-name>
		<filter-name>EmployerRegisterFilter</filter-name>
		<filter-class>EmployerRegisterFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>EmployerLoginFilter</display-name>
		<filter-name>EmployerLoginFilter</filter-name>
		<filter-class>EmployerLoginFilter</filter-class>
	</filter>
	
	<filter>
		<description>
		</description>
		<display-name>JobDetailsFilter1</display-name>
		<filter-name>JobDetailsFilter1</filter-name>
		<filter-class>JobDetailsFilter1</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>EmpFPRPFilter</display-name>
		<filter-name>EmpFPRPFilter</filter-name>
		<filter-class>EmpFPRPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StudentRegisterFilter</filter-name>
		<url-pattern>/StudentRegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StudentRegisterFilter</filter-name>
		<servlet-name>StudentRegister</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/LoginFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>Login</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerRegisterFilter</filter-name>
		<url-pattern>/EmployerRegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerRegisterFilter</filter-name>
		<servlet-name>EmployerRegister</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerLoginFilter</filter-name>
		<url-pattern>/EmployerLoginFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmployerLoginFilter</filter-name>
		<servlet-name>EmployerLogin</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JobDetailsFilter1</filter-name>
		<url-pattern>/JobDetailsFilter1</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JobDetailsFilter1</filter-name>
		<servlet-name>JobDetails</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmpFPRPFilter</filter-name>
		<url-pattern>/EmpFPRPFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>EmpFPRPFilter</filter-name>
		<servlet-name>EmpFPRP</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>StudentRegister</display-name>
		<servlet-name>StudentRegister</servlet-name>
		<servlet-class>StudentRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployerRegister</display-name>
		<servlet-name>EmployerRegister</servlet-name>
		<servlet-class>EmployerRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployerLogin</display-name>
		<servlet-name>EmployerLogin</servlet-name>
		<servlet-class>EmployerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>JobDetails</display-name>
		<servlet-name>JobDetails</servlet-name>
		<servlet-class>JobDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmpLogout</display-name>
		<servlet-name>EmpLogout</servlet-name>
		<servlet-class>EmpLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmpFP</display-name>
		<servlet-name>EmpFP</servlet-name>
		<servlet-class>EmpFP</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmpFPR</display-name>
		<servlet-name>EmpFPR</servlet-name>
		<servlet-class>EmpFPR</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmpFPRP</display-name>
		<servlet-name>EmpFPRP</servlet-name>
		<servlet-class>EmpFPRP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentRegister</servlet-name>
		<url-pattern>/StudentRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployerRegister</servlet-name>
		<url-pattern>/EmployerRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployerLogin</servlet-name>
		<url-pattern>/EmployerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JobDetails</servlet-name>
		<url-pattern>/JobDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpLogout</servlet-name>
		<url-pattern>/EmpLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpFP</servlet-name>
		<url-pattern>/EmpFP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpFPR</servlet-name>
		<url-pattern>/EmpFPR</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpFPRP</servlet-name>
		<url-pattern>/EmpFPRP</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
